@CHARSET "UTF-8";

#main-nav ul {
	list-style: none;
}

#main-nav ul li {
	display: inline;
	padding: 0 20px;
}

#main-nav ul li a {
	font-family: "Arial Black";
	color: #FCE6C8;
	font-size: 16px;
	text-decoration: none;
}

#main-nav ul li a:hover {
	color: #fff;
}

#main-nav ul li a.selected {
	font-weight: bold;
}